@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');

:root {

    --secondary: #adb5bd;
    --dark: #37475b;
    --primary-color: #f15bb5;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;


    --bg: #f5f5f5;
    --light: #ffffff;
    --hover-bg: #eceef2;
    --link-hover: #2674e0;
    --shadow: 0 4px 10px rgba(0, 2, 4, .06), 0 0 1px rgba(0, 2, 4, .11);
}

* {
    margin: 0;
    padding: 0;
    transition: background-color .1s ease-in-out;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
}

a {
    text-decoration: none;
}

*>* {
    box-sizing: border-box;
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}